
.sidebarRow {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    width: 100%;
}

.sidebarRow:hover {
    background-color: lightgray;
    border-radius: 10px;
}

.sidebarRow > h4 {
    margin-left: 10px;
    font-weight: normal;
}

.sidebarRow > .MuiSvgIcon-root {
    color: #2e81f4;
}

.sidebarRow__user > h4 {
    font-weight: 600;
    margin-left: 10px;
}